<div class="auth-container">
    <h2>Log In</h2>
    <form action="/login" method="post">
        <div class="form-control">
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" placeholder="Type your e-mail..." required />
        </div>
        <div class="form-control">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Type your password..." autocomplete="off" required />
        </div>
        <button class="sys-btn">Sign In</button>
        <p>Don't have an account? <a href="/register">Sign Up!</a></p>
    </form>
</div>